<!doctype html>
<html ng-app="chat" >
<head>
    <title><%= title %></title>
    <style>
        html,
        body {
            margin:0;
            padding:0;
            color:#000;
            font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
            font-size: 10pt;
            background: #E0E0EB;
        }
        #body {
            width: 100%;
            margin:0 auto;
            background:#ddd;
        }
        #header {
            padding:10px;
            background: #666699;
            height: 40px;
        }
        #mainLeft {
            float:left;
            width:20%;
            padding:0px;
            background: #E0E0EB;
        }
        #mainWrapper {
            float:right;
            width:80%;
        }
        #mainWrapperLeft {
            float:left;
            width:75%;
            padding:0px;
            background:#ddf;
        }
        #mainWrapperRight {
            float:right;
            width:25%;
            padding:0px;
            background: #E0E0EB;
        }
        #footer {
            clear:both;
            padding:10px;
            background: #666699;
            height: 40px;
        }
        #chatMessages {
            height: 200px;
            overflow: auto;
        }

        #place {
            position: relative;
        }

        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 2px 6px; width: 96%; }
        #messages li:nth-child(odd) { background: #eee; }

        #chatInput input { border: 0; padding: 10px; width: 92%; }

    </style>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="/js/angular/angular.js"></script>
    <script src="/js/angular-ui-utils/ui-utils.js"></script>
</head>
<body>

<div id="body">
    <div id="header">header</div>
    <div id="main">
        <div id="mainLeft" ng-controller="userListController">
            <div ng-switch on="userCount">
                <div ng-switch-when="1">
                    you are by yourself
                </div>
                <div ng-switch-default>
                    {{userCount}} in the chat
                </div>
            </div>

            <div ng-repeat="user in userNames">{{user}}</div>
        </div>
        <div id="mainWrapper">
            <div id="mainWrapperLeft" ng-controller="mapController">
                <div id="place" ng-repeat="place in places" ng-style="{color: blue}" ng-click="positionPlace(place)">{{place.name}}</div>
            </div>
            <div id="mainWrapperRight">
                <div id="chatInput" ng-controller="chatController">
                    <auto-scroll-chat-window></auto-scroll-chat-window>
                    <div id="chatInput">
                        <input id="messageInput" type="text" ng-click="clearMessage()" ng-model="message" ui-keypress="{'enter':'sendMessage()'}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">footer</div>
</div>

<script>
    var socket = io();
    var app = angular.module("chat",['ui.utils']);

    app.run(function() {
        <% if (username) { %>
        socket.emit('new user', '<%= username %>');
        <% } %>
    });

    app.factory('socket', function ($rootScope) {
        return {
            on: function (eventName, callback) {
                socket.on(eventName, function () {
                    var args = arguments;
                    $rootScope.$apply(function () {
                        callback.apply(socket, args);
                    });
                });
            },
            emit: function (eventName, data, callback) {
                socket.emit(eventName, data, function () {
                    var args = arguments;
                    $rootScope.$apply(function () {
                        if (callback) {
                            callback.apply(socket, args);
                        }
                    });
                })
            }
        };
    });

    /**
     * Add directive to create a scrolling chat message window
     * that will scroll to bottom when message is updated.
     */
    app.directive("autoScrollChatWindow", function() {
        return {
            restrict: "E",
            replace:true,
            template: "<div id=\"chatMessages\">\n<ul id=\"messages\">\n<li ng-repeat=\"message in messages track by $index\">{{message}}</li>\n</ul>\n</div>",
            link: function(scope, element) {
                var el = element[0];
                scope.$watch(function () {
                    el.scrollTop = el.scrollHeight;
                });
            }
        }
    });

    app.controller("mapController", function($scope, $http) {
        $scope.earthRadius = 6371/2;


        $scope.positionPlace = function(place) {

            var scale = 400 / (2.0 * $scope.earthRadius);
            var offset = 400 / 2.0;

            var x = $scope.earthRadius * Math.cos(place.location.latitude) * Math.cos(place.location.longitude) * scale + offset;
            var y = $scope.earthRadius * Math.cos(place.location.latitude) * Math.sin(place.location.longitude) * scale + offset;

            alert(x + ",\n" + y);
        }

        $http.get('/places/data').success(function(data) {
            $scope.places = data
        })
    });

    app.controller('userListController', function($scope, socket) {

        $scope.userCount = 0;
        $scope.userNames = [];

        socket.on('user list', function(data) {
            $scope.userCount = data.userCount;
            $scope.userNames = data.userNames;
        });
    });

    app.controller('chatController', function($scope, socket) {
        $scope.messages = [];
        $scope.message = 'Enter Msg and hit Enter';
        $scope.name = 'test';

        // Bind socket events
        socket.on('chat message', function(data) {
            $scope.pushMessage(data.userName + ": " + data.message)
        });

        socket.on('user joined', function(data) {
            $scope.pushMessage('user ' + data.userName + ' joined');
        });

        socket.on('user left', function(data) {
            $scope.pushMessage('user ' + data.userName + ' left');
        });

        // Interact with page elements
        $scope.pushMessage = function(message) {
            $scope.messages.push(message);
        }

        $scope.sendMessage = function() {
            socket.emit('chat message', $scope.message);
            $scope.message = '';
        }

        $scope.clearMessage = function() {
            $scope.message = '';
        }

        $scope.foo = function() {
            alert('test');
        }
    })
</script>

</body>
</html>